<div class="row">
	<div class="imgme">
	<img align="middle" src="content/images/me.jpg"></div>
	<h3>Hi, my name is</h3>
	<p class="nama">Argiansyah (Agik) Putra, also known as Agik Syah. Web developer with speciality on front-end</p><br>
	<p>My portfolio site: <a href="https://agiksyah.github.io" target="_blank">agiksyah</a></p><p>Telegram: <a href="https://t.me/agiksyah" target="_blank">t.me/agiksyah</a></p><p>Email: argiansyahp@gmail.com</p><p>Blog: <a href="https://medium.com/antusiasweb" target="_blank">AntusiasWeb</a></p>
</div>